body {
    background-color: #3399cc;
  }
.nav * {
  padding-right: .5%;
}
.nav{
  margin-left: 2%;
}

.contact us info{
text-decoration: #eeeeee;
}

 
                                                          